* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: white;
}

:root {
  font-size: 62.5%;
}

body,
imput,
button,
textarea {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  font-family: 'Nunito', sans-serif;

  /* opção mais resumida: font: 400, 18px/1, 'Nunito', sans-serif;
  font: aqui vai o peso, aqui o tamanho/aqui altura da linha, fonte aqui, o tipo se é serifada ou cursiva ou outra AQUI;
  */
}

/*em multipla o valor q você escolhe pelo tamanho da font no elemento pai, por exemplo se o valor que você quer é para o body, ele está dentro do html, então o html é o elemento pai, se o font-size for valor x você multipla o valor que você escolheu pelo valor, e ele te retorna o valor*/
/*rem ele multiplica o valor que você escolhe pelo root que está SEMPRE no html, e sempre tem o valor padrão de 16px, caso você queira mudar esse valor padrão você tem que atribuir um valor no :root pelo css*/

/*display block: h1, p, div
display inline: span, strong, a
*/
